[include]
    path = ~/.gitconfig.monorepo
[user]
	name = Anthony Gonzales
	email = 3740655+antgonzales@users.noreply.github.com
[alias]
	shove = push --force-with-lease
	lg = log --oneline --color --graph --decorate --all
	lgg = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[branch]
	autosetuprebase = always
[rebase]
	autoStash = true
[pull]
	rebase = true
[push]
    default = current
[core]
	editor = nvim
[http]
	sslCAInfo = /Users/anthonygonzales/.mdm/certificates/combined-ca-bundle.pem
